<!DOCTYPE html>
<html>
  <head>
    <title><%=blocks.title%></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <section calss="container">
    <h1><%=blocks.title%></h1>
      <%-body%>
  </section>
  </body>
</html>
